/*reglas generales*/

label{color: #037bc0;}

.pagina{ color: black;
        font-size: 20px;}  

h3{ font-size: 34px;   }


h4{font-size: 44px; }

h1{
        color: white;
        text-decoration-color: white;
}


h5{
 font-size: 24px;
 color: white;       
}

.text2{
        background-color: grey;
        width: 200;
        height: 300;
        text-align: center;
        padding: 50px;
          display: flex;
          justify-content: center;
        align-items: center;
        
}   

.cuadroazul{
        background-color: rgb(14, 132, 228);
        width: 100;
        text-align: center;
        padding: 1%;
        height: 300px;
        cursor: pointer;
        color: white;
        border-radius: 2%; /*redondeo de esquinas*/
        font-size: 2%; /*tamaño de letra */}

.cuadroazul1{
        background-color: rgb(228, 14, 210);
        width: 350;
        height: 390px;
        text-align: center;
        padding: 5%;
        cursor: pointer;
        color: rgb(90, 16, 16);
        border-radius: 4px; /*redondeo de esquinas*/
        
}

.button{
       padding: 15px 15px; /* espacio interno (vertical y horizontal) */
       width: 210px;     /*  ancho */
       height: 60px;    /*  alto */
       font-size: 19px;  
       background-color: rgb(59, 204, 59);
       color: white;
       border-radius: 9px;}
 
.cuadrogris{
        display: flex;
        background-color: rgb(123, 124, 126);
        width: 100%;
        height: 250px;
        color: white;
        font-size: 25px;
        justify-content: center;
        align-items: center;
        
        /*border-radius: 10px; /*redondeo de esquinas
        font-size: 14px; /*tamaño de letra */
}

/*Media Query*/



/* Reescribir colores */
       .color-hex{
        color: #037bc0;
       }

/* Productos */

/*Maquetas*/

.padre{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  border-color: grey;
  border-width: 2px;
  margin: auto;
  width: 50;     /*  ancho */
  height: 50;    /*  alto */
}

.hijo{
    background-color: white;
    color: black;
    border-radius: 80px;
    align-self: center;
  }    

  .padrefooter{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 50;     /*  ancho */
  height: 50;    /*  alto */
}

.hijofooter{
    background-color: white;
    color: black;
    border-radius: 80px;
    align-self: center;
  }    